################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DigitalPlus.API/FileContentIndex/07a06750-37cd-4375-ae19-b14cffb529a3.vsidx
